.menu{
   text-align: right;
}

.menu-item:hover{
    background-color: #4FC1E9;
 }

.menu .menu-item:hover a{
    color: white !important;
}

.menu-item-selected{
   border-bottom: 2px solid black;
}

.menu ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.menu ul li{
   display: inline;
   padding: 10px;
}

.menu a{
   text-decoration: none;
   color: cornflowerblue;
}